@font-face {
    font-family: 'Billabong';
    src: url('Billabong.woff2') format('woff2'),
        url('Billabong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
